*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(2, minmax(min-content, 60rem)) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 100vh min-content;
  row-gap: 2rem;
}
.container::selection,
.container ::-moz-selection {
  color: white;
  background-color: #fc5c65;
}

.logo-text {
  font-family: "Grand Hotel", cursive;
  color: white;
}

.heading-1 {
  font-family: "Pacifico", cursive;
  color: black;
}
.heading-1--white {
  color: white;
}

.heading-2 {
  font-family: "Oswald", sans-serif;
  color: black;
}
.heading-2--light {
  font-weight: 300;
}
.heading-2--regu {
  font-weight: 400;
}
.heading-2--bold {
  font-weight: 600;
}
.heading-2--white {
  color: white;
}

.body-text {
  font-family: "Roboto", sans-serif;
  color: black;
}
.body-text--light {
  font-weight: 300;
}
.body-text--regu {
  font-weight: 500;
}
.body-text--bold {
  font-weight: 700;
}
.body-text--white {
  color: white;
}

.u-mb-small {
  margin-bottom: 1.5rem;
}

.u-mb-med {
  margin-bottom: 4rem;
}

.u-mb-big {
  margin-bottom: 8rem;
}

.u-center-text {
  text-align: center;
}

.btn {
  height: 4rem;
  width: 20rem;
  border-radius: 2rem;
  border: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
.btn--red {
  background: #fc5c65;
  color: white;
}
.btn:hover {
  cursor: pointer;
  transform: translateY(-0.3rem);
  background: #eb3b5a;
}

.header {
  grid-column: full-start/full-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("/img/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: min-content 1fr minmax(6rem, min-content) 1fr;
}
.header__logo {
  font-size: 3.3rem;
  grid-column: 1/span 1;
  justify-self: flex-start;
}
.header__heading-main {
  font-size: 10rem;
  grid-column: 1/-1;
  justify-self: center;
  align-self: flex-end;
}
.header__heading-secondary {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  grid-column: 1/-1;
  justify-self: center;
  align-self: flex-start;
}
.header__btn {
  grid-column: 1/-1;
  justify-self: center;
  align-self: flex-start;
}

.header__nav {
  grid-column: 2/span 1;
  justify-self: flex-end;
  align-self: center;
}
.header__nav-items {
  display: flex;
  list-style: none;
}
.header__nav-links {
  margin-left: 4rem;
}
.header__nav-link:link, .header__nav-link:visited {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  font-family: "Roboto", sans-serif;
}
.header__nav-link:link:hover, .header__nav-link:visited:hover {
  color: #fc5c65;
}
.header__nav .active {
  color: #fc5c65;
}

.about {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  row-gap: 2rem;
  align-items: center;
  text-align: center;
}
.about__title {
  font-size: 4.6rem;
  grid-column: 1/-1;
  justify-self: center;
}
.about__img {
  grid-column: 2/3;
  grid-row: 2/4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__info {
  padding: 0 5rem;
}
.about__info__icon {
  width: 4.5rem;
  height: 4.5rem;
}
.about__info__main-heading {
  font-size: 1.8rem;
}
.about__info__main-text {
  font-size: 1.5rem;
}
.about__info--1, .about__info--3 {
  grid-column: 1/2;
}
.about__info--2, .about__info--4 {
  grid-column: 3/4;
}

/*# sourceMappingURL=styles.css.map */
