// Fonts
$font-title: 'Pacifico', cursive;       // 400
$font-primary: 'Oswald', sans-serif;    // 300, 400, 600
$font-secondary: 'Roboto', sans-serif;  // 300, 400, 500, 700

// Colors 
$color-red-1: rgba(252, 92, 101,1.0);
$color-red-2: rgba(235, 59, 90,1.0);

$light: rgba(255,255,255,1.0);
$dark: rgba(0,0,0,1.0); 