// Fonts
$font-logo: 'Grand Hotel', cursive;     // 400
$font-title: 'Pacifico', cursive;       // 400
$font-primary: 'Oswald', sans-serif;    // 300, 400, 600
$font-secondary: 'Roboto', sans-serif;  // 300, 400, 500, 700

// Colors 
$color-one: rgba(252, 92, 101,1.0);
$color-two: rgba(235, 59, 90,1.0);

$light: rgba(255,255,255,1.0);
$light-x: rgba(255,255,255,.5);
$dark: rgba(0,0,0,1.0); 