*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] (minmax(min-content, 60rem))[2] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(2, minmax(-webkit-min-content, 60rem)) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(2, minmax(min-content, 60rem)) [center-end] minmax(6rem, 1fr) [full-end];
  -ms-grid-rows: 100vh min-content;
      grid-template-rows: 100vh -webkit-min-content;
      grid-template-rows: 100vh min-content;
}

.logo-text {
  font-family: "Grand Hotel", cursive;
  color: white;
}

.heading-1 {
  font-family: "Pacifico", cursive;
  color: black;
}

.heading-1--white {
  color: white;
}

.heading-2 {
  font-family: "Oswald", sans-serif;
  color: black;
}

.heading-2--light {
  font-weight: 300;
}

.heading-2--regu {
  font-weight: 400;
}

.heading-2--bold {
  font-weight: 600;
}

.heading-2--white {
  color: white;
}

.body {
  font-family: "Roboto", sans-serif;
  color: black;
}

.body--light {
  font-weight: 300;
}

.body--regu {
  font-weight: 500;
}

.body--bold {
  font-weight: 700;
}

.body--white {
  color: white;
}

.u-mb-small {
  margin-bottom: 1.5rem;
}

.u-mb-med {
  margin-bottom: 4rem;
}

.u-mb-big {
  margin-bottom: 8rem;
}

.u-center-text {
  text-align: center;
}

.header {
  grid-column: full-start / full-end;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.4))), url("/img/header.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("/img/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, 1fr))[2];
      grid-template-columns: repeat(2, minmax(-webkit-min-content, 1fr));
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
  -ms-grid-rows: min-content 1fr minmax(6rem, min-content) 1fr;
      grid-template-rows: -webkit-min-content 1fr minmax(6rem, -webkit-min-content) 1fr;
      grid-template-rows: min-content 1fr minmax(6rem, min-content) 1fr;
}

.header__logo {
  font-size: 5rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  justify-self: flex-start;
}

.header__heading-main {
  font-size: 10rem;
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header__heading-secondary {
  letter-spacing: .5rem;
  text-transform: uppercase;
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header__btn {
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
/*# sourceMappingURL=main.css.map */