//header

.header {
    grid-column: full-start / full-end;
    // grid-column: center-start / center-end;

    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.3)) ,url("/img/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 5rem;

    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-template-rows: min-content 1fr minmax(6rem, min-content) 1fr;

    &__logo {
        font-size: 3.3rem;
        grid-column: 1 / span 1;
        justify-self: flex-start;
    }

    &__heading-main {
        font-size: 10rem;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: flex-end;
    }

    &__heading-secondary {
        letter-spacing: .5rem;
        text-transform: uppercase;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: flex-start;
    }

    &__btn {
        grid-column: 1 / -1;
        justify-self: center;
        align-self: flex-start;
    }
}
