.btn {
    height: 4rem;
    width: 20rem;
    border-radius: 2rem;
    border: none;
    font-family: $font-secondary;
    text-transform: uppercase;
    box-shadow: 0 .5rem 1rem rgba($color: $dark, $alpha: .3);
    transition: all .2s ease-in-out;

    &--red{
        background: $color-one;
        color: $light;
    }

    &:hover {
        cursor: pointer;
        transform: translateY(-.3rem);
        background: $color-two;
    }


}